<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" >
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo List</title>
    <meta name="description" content="A very basic todo list application">
    <link rel="icon" type="image/png" href="assets/images/success.png">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div id="title">
      <h1>ToDo List</h1>
      <h4>A simple app to help you to remember things</h4>
      <hr>
    </div>
    <div id="textBox">
      <input type="text" placeholder="Type something...">
    </div>
    <div id="todo-list">
      <ul>
      </ul>
    </div>
    <script src="assets/js/lib/jquery.js"></script>
    <script src="assets/js/todoManager.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>
